<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coopbuy.mall">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 保存资源到SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.CoopBuyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.splash.activity.SplashActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.module.center.activity.LoginActivity" />
        <activity android:name=".ui.module.home.activity.BannerDetailActivity" />
        <activity android:name=".ui.module.center.activity.OrderActivity" />
        <activity android:name=".ui.module.center.activity.OrderDetailActivity" />
        <activity android:name=".ui.module.home.activity.ScanQrCodeActivity" />
        <activity android:name=".ui.module.home.activity.QrqWbActivity" />
        <activity android:name=".ui.module.center.activity.RegisterActivity" />
        <activity android:name=".ui.module.center.activity.SetPassWordActivity" />
        <activity android:name=".ui.module.center.activity.PersonalActivity" />
        <activity android:name=".ui.module.center.activity.SettingActivity" />
        <activity android:name=".ui.module.center.activity.AboutActivity" />
        <activity android:name=".ui.module.center.activity.SuggestionActivity" />
        <activity android:name=".ui.module.center.activity.HeplCenterActivity" />
        <activity android:name=".ui.module.center.activity.PhoneRechargeActivity" />
        <activity android:name=".ui.module.center.activity.DataAnalyseActivity" />
        <activity android:name=".ui.module.center.activity.MyBillActivity" />
        <activity android:name=".ui.module.center.activity.BillDetailActivity" />
        <activity android:name=".ui.module.center.activity.CustomOrderActivity" />
        <activity android:name=".ui.module.center.activity.CustomOrderDetailActivity" />
        <activity android:name=".ui.module.center.activity.BindStationAddressActivity" />
        <activity android:name=".ui.module.center.activity.MyCustomActivity" />
        <activity android:name=".ui.module.center.activity.AddCustomActivity" />
        <activity android:name=".ui.module.center.activity.AddressManageActivity" />
        <activity android:name=".ui.module.center.activity.AddresssAddUserActivity" />
        <activity android:name=".ui.module.center.activity.AddresssAddDetailActivity" />
        <activity android:name=".ui.module.home.activity.CategoryActivity" />
        <activity android:name=".ui.module.home.activity.GoodsDetailActivity" />
        <activity android:name=".ui.mainpage.activity.MainActivity" />
        <activity
            android:name=".ui.splash.activity.AdActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.splash.activity.GuideActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".ui.module.center.activity.StationRecommendActivity" />
        <activity android:name=".ui.module.home.activity.ShopDetailActivity" />
        <activity android:name=".ui.module.center.activity.ForgetPwdActivity" />
        <activity android:name=".ui.module.center.activity.AfterSalesActivity" />
        <activity android:name=".ui.module.center.activity.ApplyRefundActivity" />
        <activity android:name=".ui.module.center.activity.AfterSalesDetailActivity" />
        <activity android:name=".ui.module.center.activity.BuyerSendGoodsActivity" />
        <activity android:name=".ui.module.center.activity.ExpressInfoActivity" />
        <activity android:name=".ui.module.home.activity.LocationActivity" />
        <activity android:name=".ui.module.home.activity.CategorySecondActivity" />
        <activity
            android:name=".ui.module.center.activity.ShopCartActivity"
            android:label="@string/title_activity_shop_cart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.module.center.activity.OrderBuildActivity" />
        <activity android:name=".ui.module.center.activity.ShopStoreActivity" />
        <activity android:name=".ui.module.center.activity.PayHistoryActivity" />
        <activity android:name=".ui.module.center.activity.FootMarkActivity" />
        <activity android:name=".ui.module.center.activity.MessageCenterActivity" />
        <activity android:name=".ui.module.center.activity.SystemMsgActivity" />
        <activity android:name=".ui.module.center.activity.LogisticsActivity" />
        <activity android:name=".ui.module.center.activity.CreatQRActivity" />
        <activity android:name=".ui.module.center.activity.ScanQRActivity" />
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustUnspecified|stateUnspecified" />
        <activity
            android:name=".ui.module.center.pay.NewPayWindowActivity"
            android:theme="@style/wind" />
        <activity android:name=".ui.module.center.pay.PaySuccessActivity" />
        <activity android:name=".ui.module.center.pay.PayFailActivity" />
        <activity android:name=".ui.module.center.activity.StationReleasesActivity" />
        <activity android:name=".ui.module.center.activity.IncomeActivity" />
        <activity android:name=".ui.module.home.activity.SearchActivity" />
        <activity android:name=".ui.module.home.activity.SearchResultActivity" />
        <activity android:name=".ui.module.center.activity.PayOtherActivity" />
        <activity android:name=".ui.module.center.activity.PayOtherDetailActivity" />
    </application>

</manifest>